@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:aquamarine;font-size:35px;">
    <b>The Hijab Store</b>
    </div>
    <div>
        <pre>
              Hello sir/madam,
              Kindly click on the activation link provided below to verify your Email Address.
              Please click this link:<a href="@ViewBag.ConfirmationLink" >Email Activation Link</a>
              Thank you
              The Hijab Store Team
        </pre>
    </div>
</body>
</html>
